
/* resimler */
img{
    position: relative;
    height: 40px;
    width: 30px;

}
/* projeler */
#listem{
    position: absolute;
    top: 300px;
    left: 500px;
}
/* bölümler  sağ üst menü kısmı */
#blm{
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    margin-right: 10px;
}




/* projelerim  sağ üsteki menü kısmı  */
#prjjm{
    position: relative;
    margin: 15px;
    top: 1px;
}
#prjjm:hover{
    text-decoration: underline;
    
   
}
#hak:hover{
    text-decoration: underline;
   
}


/* hakıımdaki yazım */
#hakyazm{
    position: absolute;
    top: 140px;
    left: 150px;
}




.fade-in{
  position: absolute;
  left: 1px;
   opacity: 0;
   animation: fadeIn 3s forwards;
}



@keyframes fadeIn{
to{
    opacity: 1;

}

}